<template>
  <div class="home">
    <router-link :to="{name: 'tags'}"><BaseButton :size="3">Tags</BaseButton></router-link>
    <router-link :to="{name: 'add-toview'}"><BaseButton :size="3">Add ToView</BaseButton></router-link>
    <ToViewList/>
  </div>
</template>

<script>
// @ is an alias to /src
import BaseButton from '@/components/BaseButton.vue'
import ToViewList from '@/components/ToViewList.vue'

export default {
  name: 'home',
  components: {
    BaseButton,
    ToViewList
  }
}
</script>
