<template>
  <div>
    <TagAdd @add="newTagAdded($event)" />
    <TagList ref="tagList"/>
  </div>
</template>

<script>
import TagList from '@/components/TagList.vue'
import TagAdd from '@/components/TagAdd.vue'

export default {
  components: {
    TagList,
    TagAdd
  },
  methods: {
    newTagAdded (event) {
      this.$refs.tagList.addTagToList(event.id, event.name, event.description)
    }
  }
}
</script>

<style scoped>

</style>
