<template>
  <button>
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 2,
      validator (value) {
        return value >= 1 && value <= 3
      }
    }
  },
  methods: {
    setButtonSize (buttonSize) {
      let topBottomPadding = 3 * buttonSize
      let leftRightPadding = 7 * buttonSize
      this.$el.style.padding = `${topBottomPadding}px ${leftRightPadding}px`
    }
  },
  mounted () {
    this.setButtonSize(this.size)
  }
}
</script>

<style scoped>
  button {
    background: rgb(230, 230, 230);
    border-radius: 3px;
    text-decoration: none;
    line-height: 1;
    color: rgb(128, 128, 128);
    border: 0;
    cursor: pointer;
    margin: 0 3px;
  }
</style>
