<template>
  <div>
    {{ text }}
  </div>
</template>

<script>
export default {
  name: 'BaseBadge',
  props: {
    text: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: false,
      default: '#3C3C3C'
    }
  },
  methods: {
    setBackgroundStyle (backgroundColor) {
      this.$el.style.background = `${backgroundColor}`
    }
  },
  mounted () {
    this.setBackgroundStyle(this.color)
  }
}
</script>

<style scoped>
  div {
    padding: 3px 6px;
    display: inline-block;
    color: #ececec;
    border-radius: 2px;
    line-height: 1;
    cursor: pointer;
    margin: 0 2px;
    text-align: center;
  }
</style>
