<template>
  <form @submit.prevent="addTag()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" v-model="form.name">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" cols="30" rows="10" v-model="form.description"></textarea>
    </div>
    <BaseButton @click.prevent="addTag()" type="submit">Add Tag</BaseButton>
  </form>
</template>

<script>
import BaseButton from '@/components/BaseButton.vue'

export default {
  components: {
    BaseButton
  },
  data () {
    return {
      form: {
        name: null,
        description: null
      }
    }
  },
  methods: {
    addTag () {
      this.$http.post('/tags/', this.form).then(response => {
        this.$emit('add', {
          id: response.data.id,
          name: response.data.name,
          description: response.data.description
        })
      })
    }
  }
}
</script>

<style scoped>
  form {
    width: 20vw;
    margin: 0 auto;
    text-align: center;
  }
  form a {
    background-color: green;
    color: white;
  }
  form div {
    width: 100%;
    margin-bottom: 2rem;
    text-align: left;
  }
  form input {
    width: 100%;
  }
  form textarea {
    width: 100%
  }
</style>
