<template>
  <div>
    Name: {{ tag.name }}<br>
    Description: {{ tag.description || '-' }}<br>
    <BaseButton class="modify-button" :size="1">Modify</BaseButton>
    <BaseButton class="delete-button" @click.native.prevent="removeTag(tag.id)" :size="1">Delete</BaseButton>
  </div>
</template>

<script>
import BaseButton from '@/components/BaseButton.vue'

export default {
  name: 'TagItem',
  components: {
    BaseButton
  },
  props: {
    tag: {
      type: Object,
      required: true
    }
  },
  methods: {
    removeTag (id) {
      this.$http.delete(`/tags/${id}/`).then(response => {
        this.$emit('remove', {
          id: id
        })
      })
    }
  }
}
</script>

<style scoped>
  div {
    margin: 10px;
    padding: 12px 8px;
    border-radius: 5px;
    background-color: greenyellow;
    display: inline-block;
    color: rgb(50, 50, 50);
  }
</style>
