<template>
  <div>
    <TagItem v-for="tag in tags" :tag="tag" :key="tag.id" @remove="removeTagFromList(tag.id)"/>
  </div>
</template>

<script>
import TagItem from '@/components/TagItem.vue'

export default {
  components: {
    TagItem
  },
  data () {
    return {
      tags: []
    }
  },
  methods: {
    getTagsList () {
      this.$http.get('/tags/?page=1&per_page=100').then(response => {
        this.tags = response.data.tags.slice()
      })
    },
    addTagToList (id, name, description) {
      this.tags.push({
        id: id,
        name: name,
        description: description
      })
    },
    removeTagFromList (id) {
      let objectIndex = this.tags.findIndex(object => object.id === id)
      this.tags.splice(objectIndex, 1)
    }
  },
  created () {
    this.getTagsList()
  }
}
</script>

<style>

</style>
