<template>
  <transition>
    <div>
      <h2>{{ toViewObject.name }}</h2>
      <p v-html="toViewObject.description"></p>
      <ul>
        <li><strong>Type</strong> {{ toViewObject.type }}</li>
        <li>
          <strong>Status</strong> {{ toViewObject.done }}
        </li>
        <li>
          <strong>Tags</strong>
          <ul>
            <li v-for="tag in toViewObject.tags" :key="tag.id">{{ tag.name }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </transition>
</template>

<script>
export default {
  data () {
    return {
      toViewObject: {}
    }
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  methods: {
    getToView (id) {
      this.$http.get(`/views/${id}/`).then(response => {
        this.toViewObject = response.data
      })
    }
  },
  watch: {
    id () {
      this.getToView(this.id)
    }
  },
  created () {
    this.getToView(this.id)
  }
}
</script>

<style scoped>
  div {
    text-align: left;
  }
</style>
