<template>
  <tr>
    <td>{{ toview.id }}</td>
    <td>{{ toview.name }}</td>
    <td>{{ toview.done }}</td>
    <td>{{ material_type }}</td>
    <td>
      [<a href="#" @click.prevent="togglStatus(toview.id)">S</a>]
      [<a href="#" @click.prevent="deleteToView(toview.id)">D</a>]
      [<a href="#" @click.prevent="viewToView(toview.id)">V</a>]
      [M]
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    toview: {
      type: Object,
      required: true
    }
  },
  computed: {
    material_type () {
      return this.toview.material_type.text.replace(/_/g, ' ')
    }
  },
  methods: {
    togglStatus (id) {
      this.$http.patch(`/views/${id}/`).then(response => {
        alert('Change made.')
        this.toview.done = !this.toview.done
      })
    },
    deleteToView (id) {
      this.$http.delete(`/views/${id}/`).then(response => {
        this.$emit('remove', {
          id: id
        })
      })
    },
    viewToView (id) {
      this.$emit('view', {
        id: id
      })
    }
  }
}
</script>

<style>

</style>
