<template>
  <div>
    <ToViewItem v-if="viewItem" :id="viewItem" />
    <table>
      <thead>
        <tr>
            <th>ID.</th>
            <th>Name</th>
            <th>Status</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <ToViewRow v-for="toview in toviews" :key="toview.id" :toview="toview" @remove="toViewRemovedHandler(toview.id)" @view="viewItem = $event.id"/>
      </tbody>
    </table>
  </div>
</template>

<script>
import ToViewRow from '@/components/ToViewRow.vue'
import ToViewItem from '@/components/ToViewItem.vue'

export default {
  components: {
    ToViewRow,
    ToViewItem
  },
  data () {
    return {
      toviews: [],
      viewItem: null
    }
  },
  methods: {
    getToViews () {
      this.$http.get('/views/?page=1&per_page=10000').then(response => {
        this.toviews = response.data.to_views.slice()
      })
    },
    toViewRemovedHandler (id) {
      let objectIndex = this.toviews.findIndex(object => object.id === id)
      this.toviews.splice(objectIndex, 1)
    }
  },
  created () {
    this.getToViews()
  }
}
</script>

<style>

</style>