<template>
  <form @submit.prevent="addToView()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" v-model="form.name">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" cols="30" rows="10" v-model="form.description"></textarea>
    </div>
    <div>
      <label for="tags">Tag</label>
      <select id="tags" v-model="tempData.selectedTag">
        <option v-for="tag in notSelectedTags" :value="tag" :key="tag.id">{{ tag.name }}</option>
      </select>
      <BaseButton @click.native.prevent="tempData.selectedTag.selected = true">Add Tag</BaseButton>
      <div>
        <div v-for="tag in selectedTags" :key="tag.id">{{tag.name}} <a class="delete-button" @click.prevent="tag.selected = false">X</a></div>
      </div>
    </div>
    <div>
      <label for="material-type">Material Type</label>
      <select id="material-type" v-model="form.material_type">
        <option v-for="materialType in reversedMaterialTypes" :value="materialType.value" :key="materialType.value">{{ materialType.type }}</option>
      </select>
    </div>
    <BaseButton class="add-button" :size="3">Add</BaseButton>
  </form>
</template>

<script>
import BaseButton from '@/components/BaseButton.vue'

export default {
  name: 'ToViewAdd',
  components: {
    BaseButton
  },
  data () {
    return {
      tags: [],
      materialTypes: [
        {
          type: 'Watchable',
          value: 1
        },
        {
          type: 'Readable',
          value: 2
        },
        {
          type: 'Listenable',
          value: 3
        },
        {
          type: 'Other',
          value: 4
        }
      ],
      form: {
        name: null,
        description: null,
        tags: [],
        material_type: null
      },
      tempData: {
        selectedTag: null
      }
    }
  },
  computed: {
    reversedMaterialTypes () {
      let reversedMaterialTypes = this.materialTypes.slice()
      return reversedMaterialTypes.reverse()
    },
    selectedTags () {
      return this.tags.filter(object => object.selected === true)
    },
    notSelectedTags () {
      return this.tags.filter(object => object.selected === false)
    }
  },
  methods: {
    getTags () {
      this.$http.get('/tags/?page=1&per_page=100000').then(response => {
        for (let object of response.data.tags) {
          object.selected = false
          this.tags.push(object)
        }
      })
    },
    addTagsToForm (id) {
      this.form.tags = this.selectedTags.map(object => object.id)
    },
    addToView () {
      this.addTagsToForm()
      this.$http.post('/views/', this.form).then(response => {
        alert(`New ToView Added!`)
        this.$router.push('/')
      })
    }
  },
  created () {
    this.getTags()
  }

}
</script>

<style>
  form {
    width: 20vw;
    margin: 0 auto;
    text-align: center;
  }
  form a {
    background-color: red;
    color: white;
    border-radius: 500px;
    line-height: 1.3;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    text-align: center;
  }
  form div {
    width: 100%;
    margin-bottom: 2rem;
    text-align: left;
  }
  form input {
    width: 100%;
  }
  form textarea {
    width: 100%
  }
</style>
